body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.green {
    background-color: greenyellow;
    color: black;
}

.centerize {
    display: flex;
    justify-content: center;
    text-align: center;
}

.storegame {
    display: flex;
    column-gap: 15px;
    margin: 0;
    padding: 3px;
    background-color: rgb(27, 44, 23);
}

.sub {
    display: inline-block;
}

.storegame img {
    max-height: 100px;
    min-height: 100px;
}

.storegame-title {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

#topbar {
    text-align: center;
    padding: 15px;
}

#topbar a {
    color: black;
    text-decoration: none
    
}

#topbar a:hover{
    background-color: rgb(72, 218, 72);
    transition: 0.2s;
    border-radius: 5px;
}

#container {
    padding-left: 5%;
    padding-right: 5%;
}

#container a {
    color: white
}

.contato{
    align-items: center;
    margin: 10px;
}

.contato input {
    width: 75%;
}

.contato textarea {
    width: 75%;
    height: 200px;
}


































































































































































































































































